<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imgurClientCredentials</key>
	<dict>
		<key>anonymous</key>
		<false/>
		<key>id</key>
		<string></string>
		<key>secret</key>
		<string></string>
		<key>refreshToken</key>
		<string></string>
	</dict>
	<key>imgurUnitTestParams</key>
	<dict>
		<key>title</key>
		<string>Just messing with the API, you can ignore this</string>
		<key>recipientId</key>
		<string>stevesteve89</string>
	</dict>
</dict>
</plist>
