<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imgurClient</key>
	<dict>
		<key>id</key>
		<string></string>
		<key>secret</key>
		<string></string>
		<key>refreshToken</key>
		<string></string>
	</dict>
	<key>imgurVariousValues</key>
	<dict>
		<key>title</key>
		<string>Just messing with the API, you can ignore this</string>
		<key>imageID</key>
		<string>lwIMGLWk</string>
		<key>tokenURL</key>
		<string>YourImgurAppProtocol://#access_token=ACCESS_TOKEN&amp;expires_in=3600&amp;token_type=bearer&amp;refresh_token=REFRESH_TOKEN&amp;account_username=ACCOUNT_USERNAME</string>
		<key>codeURL</key>
		<string>YourImgurAppProtocol://?code=AUTHORIZATION_CODE</string>
	</dict>
</dict>
</plist>
